.task {
    box-shadow: 1px 1px 1px rgba(0, 10, 70, 0.2);
    margin: 0px;
    word-wrap: break-word;
    padding: 0px ;
    cursor: pointer;
    font-size: medium;
    font-family: 'Milonga';
    direction: ltr;
    text-align:left;
    font-style: italic;
    font-weight: 400 !important;
}

/* p{
  color: rgba(210, 210, 210, 0.9) !important;
}

button{
  color: rgba(210, 210, 210, 0.9) !important;
}

p:hover{
    color: rgba(0, 0, 0, 1) !important;
    }

    button:hover{
    color: rgba(0, 0, 0, 1) !important;
    } */

.strike {
    text-decoration: line-through;  
}

.task:hover {
    height: min-content;
    background-color: rgba(255, 255, 255, 1);
    color: black !important;
     word-wrap: break-word;
}
