@import url("https://fonts.googleapis.com/css2?family=Milonga");
@import url("https://fonts.googleapis.com/css2?family=Kleymisska");

.oneSongIcon {
  width: 30px;
  height: 30px;
  margin-left: 1px;
  margin-right: 3px;
}

.oneSong {
  align-self: flex-start;
  align-self: flex-start;
  align-content: space-around;
  margin-top: 20px;
  margin-left: 30px;
  min-width: content;
  max-width: 200px;
  height: content;
  max-height: 70px;
  font-size: large;
  font-family: "Milonga";
  text-shadow: 1px 1px 1px black, 0 0 0.8em black, 0 0 0.2em black;
  font-weight: 400;
  font-family: "Kleymisska" !important;
  font-size: larger;
}

.oneSong:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.oneSongIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 1px 1px 14px 9px rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
  .allSongsDiv {
    grid-template-columns: 0.7fr 0.7fr 0.7fr;
  }
  .oneSong {
    font-size: medium;
    margin-top: 90px;
    margin-left: 10px;
    max-width: 70px;
    font-family: "Kleymisska" !important;
    font-size: larger;
  }

  .oneSongIcon {
    width: 40px;
    height: 40px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .oneSongIcon:hover {
    transform: scale(1.5);
  }
}
