.lists {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: space-around;
  justify-items: center;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
}
.img1Class {
  margin-top: 0.5%;
  margin-left: 96%;
  max-width: 130px;
  max-height: 130px;
  opacity: 0.6;
  position: fixed;
  transform: scale(0.7);
  z-index: 1000;
}

@media screen and (max-width: 500px) {
  .lists {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    float: none;
    grid-template-columns: none;
  }
}
