.hotpink {
    background-color: rgba(255, 105, 180,0.3);// 0.45);
}

.gold {
    background-color: rgba(255, 217, 0,0.3);//, 0.451);
}

.coral {
    background-color: rgba(255, 127, 80,0.3);//, 0.45);
}

.cornflowerblue {
    background-color: rgba(100, 148, 237,0.3);//, 0.557);
}

.cornsilk {
    background-color: rgba(255, 248, 220,0.3);//, 0.44);
}

.dodgerblue {
    background-color: rgba(30, 143, 255,0.3);//, 0.4539);
}

.darkgoldenred {
    background-color: rgba(184, 135, 11,0.3);//, 0.4623);
}

.magenta {
    background-color: rgba(255, 0, 255,0.3);//, 0.4562);
}

.lightmagenta {
    background-color: rgba(246, 166, 246,0.3);//, 0.4689);
}

.mediumturquoise {
    background-color: rgba(72, 209, 205,0.3);//, 0.4541);
}

.mediumslateblue {
    background-color: rgba(50, 17, 235,0.3);//, 0.454);
}

.mediumseagreen {
    background-color: rgba(60, 179, 114,0.3);//, 0.477);
}

.moccasin {
    background-color: rgba(255, 228, 181,0.3);//, 0.479);
}

.rosybrown {
    background-color: rgba(188, 143, 143,0.3);//, 0.42);
}

.royalblue {
    background-color: rgba(65, 105, 225,0.3);//, 0.42);
}

.palegoldenrod {
    background-color: rgba(238, 232, 170,0.3);//, 0.42);
}

.plum {
    background-color: rgba(221, 160, 221,0.3);//, 0.4505);
}

.palevioletred {
    background-color: rgba(216, 112, 147,0.3);//, 0.4514);
}

.papayawhip {
    background-color: rgba(255, 239, 213,0.3);//, 0.507);
}

.palegreen {
    background-color: rgba(152, 251, 152,0.3);//, 0.498);
}
