.list {
  background-color: rgb(214 200 0 / 70%);
  box-shadow: 1px 1px 8px 2px lightblue;
  height: min-content;
  position: relative;
  transform: translateZ(0);
  transform: scale(0.95);
  display: table;
  table-layout: fixed;
  flex-direction: column;
  align-content: center;
  text-align: center;
  content: none;
  padding: 1px;
  transition: transform 0.5s ease-out;
  width: 280px;
  /*     font-weight: 500; */
  overflow-y: scroll;
  margin: 0;
  margin-top: 15px;
  border-radius: 8px;
  z-index: 200;
  word-wrap: break-word;
}

@keyframes mymove {
  100% {
    left: 30%;
    z-index: 4000;
  }
}
input {
  width: 30% !important;
  word-wrap: break-word;
}

.list:active {
  z-index: 1001;
  min-height: max-content;
}

.list:hover {
  animation-fill-mode: forwards;
  animation: mymove infinite;
  z-index: 1000;
  -webkit-transform: translateZ(105%);
  transform: translateZ(105%);
  transform: scale(1.45);
  box-shadow: 1px 1px 220px 40px rgba(0, 0, 0, 0.7);
  min-height: min-content;
  max-height: max-content;
  width: max-content;
  /*     border-radius: 40px; */
  height: fit-content;
  max-width: 700px !important;
}

.title {
  color: white;
  font-size: large;
  font-family: "Milonga";
  font-weight: 500;
  margin: 2px;
  text-shadow: 1px 1px 1px black, 0 0 0.8em black, 0 0 0.2em black;
}

.addbtnnote {
  border-radius: 24%;
  border: 1px black;
  background-color: lightgray;
  transform: scale(0.7);
  cursor: pointer;
}

.addbtnnote:hover {
  color: white;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .list {
    float: none;
  }
  .list:hover {
    float: none;
    width: 52%;
  }
}
