.myRepo {
  color: blue;
  align-self: left;
  /* text-shadow: 20px azure; */
  background-color: rgba(252, 255, 255, 0.9635);
  margin-right: 20px;
  transform: scale(1.25);
}

.myRepo:hover {
  background-color: rgb(200, 200, 200, 0.5);
  /* color: white; */
}
a {
  font-family: "Milonga";
}

marquee {
  display: block !important;
  width: -webkit-fill-available;
  justify-content: center !important;
  align-items: center;
  justify-items: center;
  align-self: center !important;
  white-space: wrap !important;
  text-align: center !important;
  font-family: "Kleymisska" !important;
  font-size: x-large;
}

a {
  font-family: "Kleymisska" !important;
  font-size: x-large;
}
.headerMarq {
  text-align: center !important;
  margin-top: 10px;
  padding: 3px;
  margin-bottom: 10px;
  display: block !important;
  justify-content: center !important;
  align-items: center;
  justify-items: center;
  align-self: center !important;
  white-space: wrap !important;
}
@media screen and (max-width: 500px) {
  .headerMarq {
    float: none;
  }
}
