


input {
/*   color: black;
  padding: 4px;
  font-size: normal;
  font-family: cursive;
  border-radius: 20px !important;
  text-align: start;
  margin: 3px;
  border-radius: 1%;
  box-sizing: content-box;
  max-width: fit-content;
  min-height: max-content;
  background-color: rgba(255, 255, 249, 0.712);
  text-justify: newspaper;
  width: fit-content;
  font-family: "Aref Ruqaa", Arial;
  height: 15px; */

    margin:2px 0px;
    width: 50% !important;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: medium;
    font-family: cursive;
    outline: none;
    border: 2px solid #93c597;
    box-shadow: 0 0 10px #93c597;
    direction: rtl;
    background-color: #fefff0;
    color: #000000;
    transition: 0.3s;
    height : 17px;
  
}

input:hover {
  height: max-content;
  font-weight: 400;
  font-size: medium;
}
