.addList {
  background-color: rgb(0, 201, 60);
  /* rgba(30, 180,200,0.7); */
  color: white;
  font-size: x-large;
  align: center;
  min-width: max-content;
  height: min-content;
  border-radius: 40%;
  border: 1px rgba(0, 0, 0, 0.3);
}

input{
    width: 50% !important;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: medium;
    font-family: "Aref Ruqaa", Arial;
    outline: none;
    border: 2px solid #93c597;
    box-shadow: 0 0 10px #93c597;
    direction: rtl;
    background-color: #fefff0;
    color: #000000;
    transition: 0.3s;  
}

.addList:hover {
  background-color: rgba(26, 117, 46, 0.897);
  /* rgba(100, 100, 100, 0.7); */
  cursor: pointer;
  color: white;
}

.l {
  background-color: rgba(103, 103, 103, 0.644);
}
form {
  text-align: center;
  align-items: center;
  justify-items: center;
}
